<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<!-- Template: __HDFS_HOST__ substituído no build (docker/trino/Dockerfile, via ARG). -->
<configuration>
  <property>
    <name>fs.defaultFS</name>
    <value>hdfs://__HDFS_HOST__:9000</value>
  </property>
</configuration>
